<!DOCTYPE html>
<html>

<head>
    <title>GoVideo</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div id="header">
        <img src="/static/img/logo.png" alt="GoVideo's logo">
        <span>欢迎访问GoVideo</span>
        <a href="/web">主页</a>
        <a href="/web/postvideo">上传</a>
    </div>
    <hr />

    <form name="input" action="/web/postvideoresult" method="post" enctype="multipart/form-data">
        标题:<input id="title" type="text" name="title"><br />
        说明:
        <textarea rows="" cols="" name="description">请输入视频简介!</textarea><br />
        <input type="file" name="file" /><br />
        <input type="submit" value="submit">
    </form>

    <div>GoVideo.Copyright &copy;2020</div>

</body>

</html>