<!DOCTYPE html>
<html>

<head>
    <title>GoVideo</title>
</head>

<body>

    <div>
        <img width="" height="" src="/videos/logo.png" alt="GoVideo's logo">
        <span>欢迎访问GoVideo</span>
        <a href="/web">主页</a>
    </div>
    <hr />

    <form name="input" action="/web/uploadvideo" method="post" enctype="multipart/form-data">
        标题:<input id="title" type="text" name="title"><br />
        说明:
        <textarea rows="" cols="" name="description">请输入视频简介!</textarea><br />
        <input type="file" name="file" /><br />
        <input type="submit" value="submit">
    </form>

    <div>GoVideo.Copyright &copy;2020</div>

</body>

</html>